DATABASE_URL=postgres://user:pass@db-taskflow-db.compute-portal.svc.cluster.local:5432/taskflow-db
POSTGRES_URL=postgres://user:pass@db-taskflow-db.compute-portal.svc.cluster.local:5432/taskflow-db
TASKFLOW_DB_URL=postgres://user:pass@db-taskflow-db.compute-portal.svc.cluster.local:5432/taskflow-db
REDIS_URL=redis://:password@db-taskflow-cache.compute-portal.svc.cluster.local:6379
NODE_ENV=production
